<div id="<%= id %>-dialog" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 id="<%= id %>-title" class="modal-title"><%= title %></h4>
      </div>
      <div class="modal-body">
        <form id="<%= id %>-form">
          <%- include(`${id}Dialog`); %>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="<%= id %>-submit" class="btn btn-primary" data-dismiss="modal" data-target="#<%= id %>-submit">Submit</button>
      </div>
    </div>
  </div>
</div>
